{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="wrapper">
        <ul class="houses-list">
        {% for house in houses %}
            <li class="house-logo" style="background: #{{house.colour}};">
                <a href="{{ path('app_house_read', {'id': house.id}) }}">
                    <img src="{{ asset('images/houses/'~ house.image)}}" alt="{{house.name}}">
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
